{% extends 'main_page.html' %}

{% macro display_comment(comm) %}
    <div class="comment">
        <div class="header">
            <img src="{{ url_for('static', filename='images/default_avatar.png') }}"
                 alt="avatar" height="30">
            <h4 class="user_name">
                {{ comm.user_name }}, <span class="date">{{ comm.date }}</span>
            </h4>

        </div>

        <article>{{ comm.text | safe }}</article>
    </div>
{% endmacro %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/project_styles.css') }}">

{% endblock %}

<div class="intro" style="background-image: url(../static/{{ project.img }})">

    {% block intro %}
        <img src="{{ url_for('static', filename=project.img) }}" alt="{{ project.name }}" class="big">
    {% endblock %}
</div>

{% block content %}
    <div class="description">
        <div class="project-descr">
            {{ project.description | safe}}
        </div>

        <iframe width="640" height="480" class="video"
        src="https://www.youtube.com/embed/WsI7-OZvAjI">
        </iframe>

        <div class="comments">
            <h2>Comments</h2>
            <form action='' method="post" class="login-form">
                {{ display_form(form) }}
            </form>
            <hr>
            {% for comm in comments %}
                {{ display_comment(comm) }}
            {% endfor %}
        </div>

    </div>
    <div class="images">
        <h2><u>Screenshots</u></h2>
        {% for img in project.images %}
            <img src="{{ url_for('static', filename=img) }}" alt="{{ project.name }}" class="big">
        {% endfor %}
    </div>

{% endblock %}