{% extends 'main_page.html' %}

{% block style %}
    <style>
        {#body {#}
        {#    background-image: url(../static/{{ project.img }});#}
        {#}#}

    </style>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/project_styles.css') }}">

{% endblock %}

<div class="intro" style="background-image: url(../static/{{ project.img }})">

    {% block intro %}
        <img src="{{ url_for('static', filename=project.img) }}" alt="{{ project.name }}" class="big">
    {% endblock %}
</div>

{% block content %}
    <div class="description">
        {{ project.description | safe}}
        <div class="comments">
            <h2>Comments</h2>
            <form action='' method="post" class="login-form">
                {{ display_form(form) }}
            </form>
        </div>

    </div>
    <div class="images">
        <img src="{{ url_for('static', filename=project.img) }}" alt="{{ project.name }}" class="big">
        <img src="{{ url_for('static', filename=project.img) }}" alt="{{ project.name }}" class="big">
        <img src="{{ url_for('static', filename=project.img) }}" alt="{{ project.name }}" class="big">
        <img src="{{ url_for('static', filename=project.img) }}" alt="{{ project.name }}" class="big">
        <img src="{{ url_for('static', filename=project.img) }}" alt="{{ project.name }}" class="big">
    </div>

{% endblock %}